.container{
    width:auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

.row_pokemon{
    width: 200px;
    height: 200px;
    border:1px solid black;
    margin:10px;
}

.img{

}

.loading{
    background-color: rgba(0, 0, 0, 0.152);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search{
      width: 300px;
      height: 35px;
      margin-top:20px;
      margin-bottom: 10px;
      padding-left: 10px;
  }